.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: var(--light-purple);
  font-size: 18px;
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--light-purple);
}
.navbar-search-icon {
  position: relative;
}
.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--tomato);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
