@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --light-purple: #49557e;
  --tomato: #ff6347;
  --light-hover: #fff4f2;
  --white: #ffffff;
  --light-gray: #747474;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 80%;
  margin: auto;
}
.primary-btn {
  background: transparent;
  font-size: 16px;
  color: var(--light-purple);
  border: 1px solid var(--tomato);
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s;
}
.primary-btn:hover {
  background-color: var(--light-hover);
}
.second-btn {
  border: none;
  color: var(--light-gray);
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: var(--white);
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
.third-btn {
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--tomato);
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
